.main-info__service {
  display: flex;
  flex-direction: column;
  margin: 30px 100px 100px 100px;

  .main-info__service-item {
    margin: 10px 0px;
    padding: 10px 0px;

    h2,
    h3 {
      text-align: center;
    }

    .main-info__media {
      display: flex;
      width: 100%;
      margin: 50px 0 100px 0;
      justify-content: center;
    }

    iframe {
      max-width: 100%; 
    }
  }
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 7px;

  tr {
    td {
      border: 1px solid #fff;
      padding: 8px;
      text-align: left;

    }

    th {
      border: 1px solid #fff;
      padding: 8px;
      text-align: left;
      background-color: #555;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    &:hover {
      background-color: #777;
    }

    &:last-child td {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}