<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AutoReshenie</title>
    <link rel="icon" href="{% static 'images/mini_logo.png' %}" type="image/x-icon">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/service__styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Russo+One&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="navigation">
        <a href="#" class="logo"><img src="{% static 'images/logo.jpg'%}" alt="logo" width="200" height="67"></a>
        <ul class="menu-left">
          <li><a href="{% url 'home' %}" target="_self">Главная</a></li>
          <li><a href="{% url 'service' %}" target="_self">Услуги</a></li>
          <li><a href="{% url 'contacts' %}" target="_self">Контакты</a></li>
          <li><a href="{% url 'sign-up' %}" target="_self">Записаться</a></li>
        </ul>
      </div>
    </header>
  <main>
    <div class="main-info">
      <div class="main-info__service">
        <div class="main-info__service-item">
          <h2>Предоставляемые услуги</h2>
          <p>В прайс-листе приведены цены на частые работы. Если вы не нашли свою услугу в перечне, отправьте заявку мастеру или позвоните нам.</p>
        </div>
        <div class="main-info__service-item">
          <section id="service1">
            <table>
                <thead>
                    <tr>
                        <th colspan="3"><h3>Диагностика и техническое обслуживание</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4>Компьютерная диагностика</h4></td>
                        <td><p> – Быстро выявим неисправности</p></td>
                        <td><p><strong>от 800₽</strong></p></td>
                    </tr>
                    <tr>
                        <td><h4>Плановое ТО</h4></td>
                        <td><p> - Замена масла, фильтров и жидкостей</p></td>
                        <td><p><strong>от 2 500 ₽</strong></p></td>
                    </tr>
                    <tr>
                        <td><h4>Развал-схождение</h4></td>
                        <td><p> – Устранение проблем с управляемостью</p></td>
                        <td><p><strong>от 1 500 ₽</strong></p></td>
                    </tr>
                  <tr>
                      <td><h4>Проверка подвески</h3></td>
                      <td><p> – Найдём неисправности перед поездкой</p></td>
                      <td><p><strong>от 700 ₽</strong></p></td>
                  </tr>
                </tbody>
            </table>
          </section>
        </div>
        <div class="main-info__service-item">
          <section id="service2">
            <table>
                <thead>
                    <tr>
                        <th colspan="3"><h3>Ремонтные работы</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><h4>Кузовной ремонт</h4></td>
                      <td><p> – Рихтовка, покраска, удаление вмятин</p></td>
                      <td><p><strong>от 3 000 ₽</strong></p></td>
                    </tr>
                    <tr>
                      <td><h4>Ремонт двигателя</h4></td>
                      <td><p> – От замены прокладок до капремонта</p></td>
                      <td><p><strong>от 3 000 ₽</strong></p></td>
                    </tr>
                    <tr>
                        <td><h4>Ремонт КПП</h4></td>
                        <td><p>– Починка и замена трансмиссии</p></td>
                        <td><p><strong>от 7 000 ₽</strong></p></td>
                    </tr>
                  <tr>
                      <td><h4>Замена сцепления</h4></td>
                      <td><p> – Гладкое переключение передач</p></td>
                      <td><p><strong>от 6 000 ₽</strong></p></td>
                  </tr>
                </tbody>
            </table>
          </section>
        </div>
        <div class="main-info__service-item">
          <section id="service3">
            <table>
                <thead>
                    <tr>
                        <th colspan="3"><h3>Шиномонтаж и балансировка</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><h4>Замена шин</h4></td>
                      <td><p> – Быстрая и качественная переобувка</p></td>
                      <td><p><strong>от 500 ₽ за
                      колесо</strong></p></td>
                    </tr>
                    <tr>
                      <td><h4>Балансировка колес</h4></td>
                      <td><p> – Устранение вибраций и износа</p></td>
                      <td><p><strong>от 400 ₽ за
                      колесо</strong></p></td>
                    </tr>
                    <tr>
                        <td><h4>Ремонт проколов</h4></td>
                        <td><p> – Не выбрасывайте шину раньше времени!</p></td>
                        <td><p><strong>от 500 ₽</strong></p></td>
                    </tr>
                  <tr>
                      <td><h4>Сезонное хранение шин</h4></td>
                      <td><p> – Сохраним ваш комплект до следующего сезона</p></td>
                      <td><p><strong>от 2 000₽</strong></p></td>
                  </tr>
                </tbody>
            </table>
          </section>
        </div>
        <div class="main-info__service-item">
          <section id="service4">
          <table>
              <thead>
                  <tr>
                      <th colspan="3"><h3>Дополнительные услуги</h3></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><h4>Установка сигнализации</h4></td>
                    <td><p>– Защитим ваш автомобиль</p></td>
                    <td><p><strong>от 5 000 ₽</strong></p></td>
                  </tr>
                  <tr>
                    <td><h4>Антикоррозийная обработка</h4></td>
                    <td><p> – Продлим жизнь кузова</p></td>
                    <td><p><strong>от 5 000 ₽</strong></p></td>
                  </tr>
                  <tr>
                      <td><h4>Химчистка салона</h4></td>
                      <td><p>– Чистота без лишних забот</p></td>
                      <td><p><strong>от 3 500 ₽</strong></p></td>
                  </tr>
                <tr>
                    <td><h4>Чип-тюнинг</h4></td>
                    <td><p>– Улучшим динамику и экономичность</p></td>
                    <td><p><strong>от 6 000 ₽</strong></p></td>
                </tr>
              </tbody>
          </table>
        </section>
        </div>
        <div class="main-info__service-item">
          <section id="service5">
              <div class="main-info__media">
                <iframe
                    width="720" height="405" 
                    src="https://rutube.ru/play/embed/7f82d730f8241013727fc2b588863bed"
                    frameBorder="0"
                    allow="clipboard-write; autoplay"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen
                ></iframe>
              </div>
          </div>
      </div>
    </div>
  </main>
</body>
</html>